# The number of milliseconds of each tick
# zookeeper中使用的基本时间单位, 毫秒值.
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
# zookeeper 集群中的包含多台server, 其中一台为 leader, 集群中其余的 server 为 follower. initLimit 参数配置初始化连接时, follower 和leader 之间的最长心跳时间. 此时该参数设置为 5, 
# 说明时间限制为 5 倍 tickTime, 即 5*2000 = 10000ms = 10s.
initLimit=5
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
# 该参数配置leader 和 follower 之间发送消息, 请求和应答的最大时间长度. 此时该参数设置为 2, 说明时间限制为 2 倍 tickTime, 即 4000ms.
syncLimit=2
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
#数据目录. 可以是任意目录.
dataDir={{Path}}/data
#log目录, 同样可以是任意目录. 如果没有设置该参数, 将使用和dataDir相同的设置.
dataLogDir={{Path}}/logs 
   
# the port at which the clients will connect
# 监听client连接的端口号.
clientPort={{ClientPort}}
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1

## Metrics Providers
#
# https://prometheus.io Metrics Exporter
#metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider
#metricsProvider.httpPort=7000
#metricsProvider.exportJvmInfo=true

## AdminServer configuration 
#  https://zookeeper.apache.org/doc/r3.5.1-alpha/zookeeperAdmin.html#sc_adminserver_config
#Set to "false" to disable the AdminServer. By default the AdminServer is enabled.
admin.enableServer={{EnableServer}}
#The port the embedded Jetty server listens on. Defaults to 8080.
admin.serverPort={{ServerPort}}
#The URL for listing and issuing commands relative to the root URL. Defaults to "/commands".
#admin.commandURL="/commands"


# server.X=A:B:C 其中 X 是一个数字, 表示这是第几号server. A是该server所在的IP地址. B配置该server和集群中的leader交换消息所使用的端口. C配置选举leader时所使用的端口. 
# 由于配置的是伪集群模式, 所以各个server的B, C参数必须不同.
{{ClusterServers}}
